<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The Revengers</title>
		<!-- Custom CSS -->
		<link
			rel="stylesheet"
			href="./css/main.css"
			type="text/css">
        <link 
			rel="stylesheet" 
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" 
			integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" 
			crossorigin="anonymous">
      	<script
			src="https://code.jquery.com/jquery-3.3.1.js"
			integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			crossorigin="anonymous">
		</script>
      	<!-- Latest compiled and minified JavaScript -->
		<script 
			src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" 
			integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" 
			crossorigin="anonymous">
		</script>
        <script src="./js/main.js"></script>
    </head>
	
	<body>
	
		<div id="musicContainer" class="container-fluid">
			<div class="row">
				<div class="col-sm-6 titleCard">
					<div id="titleCardMusic">
						<p id="title">
							The Revengers:
							<br>
							Music
						</p>
					</div>
				</div>
			</div>
			
			
			<h1 id="musicTitle">STOP!</h1>
			
			<h3 class="subTitle">Hammer Time!</h3>
			
		</div>
	
	
	</body>
	
</html>