<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The Revengers</title>
		<!-- Custom CSS -->
		<link
			rel="stylesheet"
			href="./css/main.css"
			type="text/css">
        <!-- Latest compiled and minified CSS -->
		<link 
			rel="stylesheet" 
			href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
			integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
			crossorigin="anonymous">
		<!--jQuery-->
      	<script
			src="https://code.jquery.com/jquery-3.3.1.js"
			integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			crossorigin="anonymous">
		</script>
      	<!-- Latest compiled and minified JavaScript -->
		<script 
			src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" 
			integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" 
			crossorigin="anonymous">
		</script>
        <script src="./js/main.js"></script>
    </head>
	
	<body>
	
		<div id="tardisContainer" class="container-fluid">
		
			<div id="titleCard">
				<p class="col-sm-4" id="title">
					The Revengers:
					<br>
					NerdStuff
				</p>
			</div>
			
			
		
		
		</div>
	
	
	
	
	
	
	</body>
	
</html>