/* ========= INDEX.HTML ==============*/

body{
	background-image: url('/img/revengers.png'); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.info {
	display: inline;
}

#title {
	font-size: 2.15em;
	color: white;
	margin-right: 5%;
}

.subTitle {
	text-align: center;
	margin: auto;
}

#temp {
	border: 2px solid black;
}

/*#mainList {
	display: flex; 
	justify-content: center; 
	margin-bottom: 5px; 
}*/

#options {
	list-style: none;
	text-align: center;
}

#options li {
	display: inline;
	font-size: 1.25em;
	margin: auto 5%;
}

.titleCard {
	text-align: center;
	margin: auto;
	border: 2px solid black;
}




/* ========= MUSIC.HTML ==============*/

#musicTitle {
	border: 2px solid black;
	text-align: center;
}






/* ========= SPORTS.HTML ==============*/